*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: Raleway, sans-serif;
  overflow-x: hidden;
  max-width: 1100px;
  background: #000000;
  color: #000000;
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
}

button {
  font: inherit;
}

