.container {
    position: relative;
    height: 100%;
}

.header {
    height: 293px;
    background: #FFFFFF;
    position: relative;
}

.logo {
    position: absolute;
    left: 476px;
    top: 92px;
    width: 148px;
    height: 105px;
}

.logo__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.nav {
    position: absolute;
    left: 50px;
    top: 133px;
    display: flex;
    align-items: center;
    gap: 0;
}

.nav__item {
    font-size: 18px;
    font-weight: 400;
    color: #000000;
    text-decoration: none;
    white-space: nowrap;
    padding: 15px 20px;
    margin: -15px 0;
    display: inline-block;
    cursor: pointer;
}

.nav__item--underlined {
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 1px;
}

.nav__item:first-child {
    text-decoration: none;
}

.nav__divider {
    color: #000000;
    margin: 0 8px;
    font-size: 18px;
    font-weight: 400;
}

.contacts {
    position: absolute;
    left: 810px;
    top: 95px;
    width: 240px;
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.contact__item {
    background: #FFFFFF;
    color: #000000;
    padding: 12px 15px;
    margin: -12px -15px;
    min-height: 24px;
    line-height: 24px;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.contact__item a {
    text-decoration: underline;
    text-underline-offset: 3px;
    color: #000000;
}

.contact__address {
    min-height: 49px;
    line-height: 24px;
    text-decoration: none;
}

.cover {
    width: 100%;
    height: 757px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.cover__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.cover__bg-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.4);
}

.cover__content {
    position: relative;
    z-index: 2;
    height: 100%;
    color: #FFFFFF;
}

.cover__word {
    position: absolute;
    font-weight: 900;
    color: #FFFFFF;
    text-transform: uppercase;
    white-space: nowrap;
    line-height: 115%;
    letter-spacing: 0.3em;
}

.cover__word--ono {
    font-size: 100px;
    left: 50px;
    top: 165px;
    width: 286px;
    height: 115px;
    font-weight: 700;
}

.cover__word--tebe {
    font-size: 100px;
    left: 550px;
    top: 300px;
    width: 339px;
    height: 115px;
    text-align: center;
    transform: translateX(-50%);
    font-weight: 700;
}

.cover__word--nado {
    font-size: 100px;
    left: 663px;
    top: 435px;
    width: 387px;
    height: 115px;
    font-weight: 700;
}

.cover__text-block {
    position: absolute;
    bottom: 50px;
    left: 0;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 50px;
}

.cover__title {
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    line-height: 28px;
    color: #FFFFFF;
    text-align: left;
    width: 637px;
    height: 28px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    margin: 0;
}

.cover__button {
    background: transparent;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    padding: 15px 40px;
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s;
    width: 257px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.15em;
    white-space: nowrap;
}

.cover__button:hover {
    background: rgba(255, 255, 255, 0.1);
}

.lots {
    padding: 80px 0 140px;
    background: #FFFFFF;
    min-height: 800px;
}

.lots__title {
    font-size: 40px;
    font-weight: 700;
    color: #000000;
    width: 121px;
    height: 47px;
    line-height: 1;
    margin: 0 0 27px 40px;
    text-transform: uppercase;
}

.lots__grid {
    position: relative;
    width: 100%;
    height: 670px;
    margin-bottom: 60px;
}

.lot {
   position: absolute;
    width: 334px;
    height: 596px;
    cursor: pointer;
}

.lot__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.4);
}

.lot__text-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.lot__title--underlined {
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
    font-weight: 700;
    color: #FFFFFF;
    position: absolute;
    text-align: left;
}

.lot__description {
    color: #FFFFFF;
    font-weight: 400;
    position: absolute;
    text-align: left;
}

.lot--first {
    left: 24px;
    top: 74px;
}

.lot__title--first {
    font-size: 22px;
    line-height: 120%;
    left: 40px;
    top: 48px;
    width: 254px;
    height: 82px;
}

.lot__description--first {
    font-size: 20px;
    line-height: 120%;
    left: 40px;
    top: 404px;
    width: 254px;
    height: 144px;
}

.lot--center {
    left: 383px;
    top: 74px;
}

.lot__title--center {
    font-size: 22px;
    line-height: 120%;
    left: 40px;
    top: 48px;
    width: 254px;
    height: 110px;
}

.lot__description--center {
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.1em;
    left: 40px;
    top: 188px;
    width: 254px;
    height: 360px;
}

.lot--right {
    left: 742px;
    top: 74px;
}

.lot__title--right {
    font-size: 22px;
    line-height: 120%;
    left: 40px;
    top: 48px;
    width: 254px;
    height: 110px;
}

.lot__description--right {
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.1em;
    left: 40px;
    top: 284px;
    width: 254px;
    height: 264px;
}

.lots__more-link {
    display: inline-block;
    margin-left: 60px;
    color: #000000;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    border-bottom: 2px solid #000000;
    padding: 15px 20px;
    margin: -15px -20px 0 60px;
    line-height: 25px;
    text-transform: lowercase;
    cursor: pointer;
}

.lots__more-link:hover {
    border-bottom-color: transparent;
}

.about {
    padding: 50px 0 50px;
    background: #FFFFFF;
    min-height: 600px;
}

.about__logo {
    position: absolute;
    left: 47px;
    top: 0;
    width: 240px;
    height: auto;
}

.about__logo-image {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.about__content {
    position: absolute;
    left: 367px;
    top: 0;
    width: 693px;
}

.about__title {
    font-size: 40px;
    font-weight: 700;
    color: #000000;
    position: absolute;
    left: 0;
    top: 0;
    min-width: 291px;
    height: 47px;
    line-height: 1;
    margin: 0;
    text-transform: uppercase;
    white-space: nowrap;
}

.about__text--first {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
    position: absolute;
    left: 0;
    top: 150px;
    width: 688px;
    height: 120px;
    margin: 0;
}

.about__text--second {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
    position: absolute;
    left: 0;
    top: 294px;
    width: 693px;
    height: 168px;
    margin: 0;
}

.footer {
    padding: 80px 0 40px;
    background: #FFFFFF;
    min-height: 200px;
    border-top: none;
}

.footer__contacts {
    position: absolute;
    left: 50px;
    top: 0;
    width: 264.57px;
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.footer__contact-item {
    background: #FFFFFF;
    color: #000000;
    padding: 12px 15px;
    margin: -12px -15px;
    min-height: 24px;
    line-height: 24px;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.footer__contact-item a {
    text-decoration: underline;
    text-underline-offset: 3px;
    color: #000000;
}

.footer__contact-address {
    min-height: 49px;
    line-height: 24px;
    text-decoration: none;
}

.footer__nav-center {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
}

.footer__nav-item {
    position: absolute;
    font-size: 18px;
    font-weight: 400;
    color: #000000;
    text-decoration: none;
    white-space: nowrap;
    line-height: 22px;
    padding: 20px 30px;
    margin: -20px -30px;
    display: block;
    cursor: pointer;
}

.footer__nav-item--main {
    left: 514px;
    top: 0;
    text-decoration: none;
}

.footer__nav-item--lots {
    left: 467px;
    top: 22px;
    width: 163.9px;
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 1px;
    text-align: center;
}

.footer__nav-item--about {
    left: 491px;
    top: 43px;
    width: 118.8px;
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 1px;
    text-align: center;
}

.footer__social-icons {
    position: absolute;
    left: 810px;
    top: 0;
    display: flex;
    gap: 48px;
    align-items: center;
    width: 240px;
    height: 68px;
}

.footer__social-icon {
    display: block;
    width: 68px;
    height: 68px;
    padding: 10px;
    margin: -10px;
    cursor: pointer;
}

.social-icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.nav__item:hover,
.contact__item:hover,
.footer__contact-item:hover,
.footer__nav-item:hover,
.lots__more-link:hover,
.footer__social-icon:hover {
    opacity: 0.7;
}

.lot:hover .lot__photo {
    filter: brightness(0.6);
    transition: filter 0.3s;
}
